In [125]:
# Dependencies and Setup
import pandas as pd

In [126]:
# File to Load 
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_csv)
student_data = pd.read_csv(student_csv)

In [127]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [128]:
#Display merged table data frame
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [140]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [129]:
#Calculate the total number of schools from complete datafram
total_schools = len(school_data_complete["School ID"].unique())
total_schools

15

In [130]:
#Calculate the total number of students from complete dataframe
total_students = len(school_data_complete["Student ID"].unique())
total_students

39170

In [131]:
#Calculate the total budget from school data 
total_budget = school_data["budget"].sum()
total_budget

24649428

In [132]:
#Calulcate the average math score from student dataframe
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [133]:
#Calculate the average reading score from student dataframe
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [134]:
#Calculate the percentage of students with a passing math score (>=70)
students_passing_math = student_data.loc[student_data["math_score"]>=70]["math_score"].count()
percentage_passing_math = students_passing_math / total_students * 100
percentage_passing_math

74.9808526933878

In [135]:
#Calculate the percentage of students with a passing reading score (>=70)
students_passing_reading = student_data.loc[student_data["reading_score"]>=70]["reading_score"].count()
percentage_passing_reading = students_passing_reading / total_students * 100
percentage_passing_reading

85.80546336482001

In [136]:
#Calculate the percentage of students who pass math and reading (% Overall Passing)
overall_passing = student_data[(student_data["math_score"]>=70) & (student_data["reading_score"]>=70)]["Student ID"].count() / total_students * 100
overall_passing

65.17232575950983

In [137]:
#Create a datafram to hold new results
category_results = [{"Total Schools": total_schools, "Total Students": total_students, "Total Budget": total_budget, "Average Math Score": average_math_score, "Average Reading Score": average_reading_score, "% Passing Math": percentage_passing_math, "% Passing Reading": percentage_passing_reading, "% Overall Passing": overall_passing}]
district_summary = pd.DataFrame(category_results)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

Formatted District Summary

In [138]:
#Formatting 
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [142]:
#Grouping by school name, type, total student and school budget
school = school_data_complete.set_index("school_name").groupby(["school_name"])

#By school types 
schools_types = school_data_complete.set_index("school_name")["type"]

#Total amount of students per school 
tot_students_by_school = school["Student ID"].count()

#School budget 
school_budget = school_data_complete.set_index("school_name")["budget"]

#Per student budget 
budget_per_students = school_data_complete.set_index("school_name")["budget"]/school_data_complete.set_index("school_name")["size"]

#avg scores by school
math_average = school["math_score"].mean()
reading_average = school["reading_score"].mean()